# Using Python Library

In [83]:
!pip install pandas==1.2.0

Collecting pandas==1.2.0
  Downloading pandas-1.2.0-cp39-cp39-win_amd64.whl (9.3 MB)
Requirement already satisfied: pytz>=2017.3 in c:\users\mahmo\anaconda3\lib\site-packages (from pandas==1.2.0) (2021.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\mahmo\anaconda3\lib\site-packages (from pandas==1.2.0) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mahmo\anaconda3\lib\site-packages (from pandas==1.2.0) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\mahmo\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.2.0) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.4
    Uninstalling pandas-1.3.4:
      Successfully uninstalled pandas-1.3.4
Successfully installed pandas-1.2.0

In [84]:
import requests
import yfinance as yf
import pandas as pd
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [85]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [86]:
tesla=yf.Ticker('TSLA')
tesla

yfinance.Ticker object <TSLA>

In [87]:
tesla_data=tesla.history(period='max')

AttributeError: 'Index' object has no attribute 'tz_localize'

In [71]:
tesla_data.reset_index(inplace=True)

NameError: name 'tesla_data' is not defined

# Using WebScrap

In [65]:
url="https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01"
html_data=requests.get(url).text

In [66]:
soup=BeautifulSoup(html_data,"html.parser")

In [67]:
tesla_revenue=pd.DataFrame(columns=['Date','Revenue'])
tables=soup.find('tbody').find_all('tr')

for row in tables:
    col=row.find_all('td')
    date=col[0].text
    revenue=col[1].text
    
    tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
tesla_revenue

C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\1804191004.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)

    Date  Revenue
0   2021  $53,823
1   2020  $31,536
2   2019  $24,578
3   2018  $21,461
4   2017  $11,759
5   2016   $7,000
6   2015   $4,046
7   2014   $3,198
8   2013   $2,013
9   2012     $413
10  2011     $204
11  2010     $117
12  2009     $112

In [68]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")
tesla_revenue

C:\Users\mahmo\AppData\Local\Temp\ipykernel_9348\186067632.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

    Date Revenue
0   2021   53823
1   2020   31536
2   2019   24578
3   2018   21461
4   2017   11759
5   2016    7000
6   2015    4046
7   2014    3198
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

In [69]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [70]:
tesla_revenue.tail()

    Date Revenue
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

# Using read_html

In [72]:
read_html_data=pd.read_html(url)

In [74]:
read_html_data2=pd.read_html(str(soup))

In [76]:
n=read_html_data2[0]
n

,Tesla Annual Revenue(Millions of US $),Tesla Annual Revenue(Millions of US $).1
0,2021,"$53,823"
1,2020,"$31,536"
2,2019,"$24,578"
3,2018,"$21,461"
4,2017,"$11,759"
5,2016,"$7,000"
6,2015,"$4,046"
7,2014,"$3,198"
8,2013,"$2,013"
9,2012,$413
10,2011,$204
11,2010,$117
12,2009,$112