In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%sql ibm_db_sa://dvx78774:j0mTJKkaFz2VplvP@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB?security=SSL

In [23]:
import pandas
chicago = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
chicago

#Not Working
# %sql PERSIST chicago

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [28]:
import ibm_db

In [29]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_hostname = "815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_protocol = "TCPIP"
dsn_port = "30367"
dsn_security = "SSL"
dsn_uid = "dvx78774"
dsn_pwd = "j0mTJKkaFz2VplvP"

In [30]:
dsn=(
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};".format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd, dsn_security)
    )

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=30367;PROTOCOL=TCPIP;UID=dvx78774;PWD=j0mTJKkaFz2VplvP;SECURITY=SSL;

In [31]:
try:
    conn=ibm_db.connect(dsn,"","")
    print("Connected to Database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)
except:
    print("Error connecting to the database", ibm_db.conn_errormsg())

Connected to Database:  BLUDB as user:  dvx78774 on host:  815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [33]:
query1='select * from CHICAGO_SOCIOECONOMIC_DATA'
stmt1=ibm_db.exec_immediate(conn,query1)

ibm_db.fetch_both(stmt1)

{'index': 0,
 0: 0,
 'CA': 1.0,
 1: 1.0,
 'COMMUNITY_AREA_NAME': 'Rogers Park',
 2: 'Rogers Park',
 'PERCENT_OF_HOUSING_CROWDED': 7.7,
 3: 7.7,
 'PERCENT_HOUSEHOLDS_BELOW_POVERTY': 23.6,
 4: 23.6,
 'PERCENT_AGED_16_UNEMPLOYED': 8.7,
 5: 8.7,
 'PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA': 18.2,
 6: 18.2,
 'PERCENT_AGED_UNDER_18_OR_OVER_64': 27.5,
 7: 27.5,
 'PER_CAPITA_INCOME_': 23939,
 8: 23939,
 'HARDSHIP_INDEX': 39.0,
 9: 39.0}

In [34]:
import ibm_db_dbi
pconn=ibm_db_dbi.Connection(conn)

In [38]:
query2='select * from CHICAGO_SOCIOECONOMIC_DATA'
pdf=pandas.read_sql(query2,pconn)
pdf

,index,CA,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16_UNEMPLOYED,PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME_,HARDSHIP_INDEX
0,0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...,...
73,73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [39]:
%sql select count(*) from CHICAGO_SOCIOECONOMIC_DATA

 * ibm_db_sa://dvx78774:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(78,)]

In [41]:
%sql select count(*) from CHICAGO_SOCIOECONOMIC_DATA where HARDSHIP_INDEX>50.0

 * ibm_db_sa://dvx78774:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(38,)]

In [42]:
%sql select max(HARDSHIP_INDEX) from CHICAGO_SOCIOECONOMIC_DATA

 * ibm_db_sa://dvx78774:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(98.0,)]

In [44]:
%sql select COMMUNITY_AREA_NAME from CHICAGO_SOCIOECONOMIC_DATA where HARDSHIP_INDEX=(select max(HARDSHIP_INDEX) from CHICAGO_SOCIOECONOMIC_DATA)

 * ibm_db_sa://dvx78774:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('Riverdale',)]